SB-Utils@git+https://github.com/ScreamBun/SB_utils.git#subdirectory=root
OSQuery-ORM@git+https://github.com/ScreamBun/SB_utils.git#subdirectory=osquery_orm
dxlclient
elasticsearch
flask
osquery
paho-mqtt
pydantic
requests
python-nmap
waitress
werkzeug